<h2>forgot your password</h2>
<%= flash[:notice] %>
<%= form_with url: "/password/reset_password", method: :post do |f| %>
    <% if @user.errors.any? %>
            <div id="errorExplanation">

                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                  </ul>
            </div>
  <% end %>


  <div class="field">
    <%= f.label :new_password%></br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :confirm_new_password %></br>
    <%= f.password_field :password_confirmation %>
  </div>

  </br>
  <div class="actions">
    <%= f.submit "chnage password" %>
  </div>

  <% end %>

